.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*canvas {
  margin: 10%;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}*/

.shaper {
  text-align: center;
  width: 480px;
}

.app {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    color: gray;
}

.flex-container {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.cell {
    height: 1em;
    width: 1em;
    border: 1px solid black;
    background: #8C1717; /*scarlet*/
}

.floor {
    background: #d6d1d1;
    border: 1px solid #dbd6d6;
}

.door {
    background: red;
}
